.login {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
}

h2 {
    font-family: 'Pokemon Solid';
    letter-spacing: 5px;
}

.userInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.opcionesExternas {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

button {
    background-color: purple;
    color: black;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(58, 4, 58);
    color: white;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.modal-content {
    width: 480px;
    height: 420px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    position: relative;
}

.modal-content input {
    text-align: center;
    width: 80%;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    background: none;
    border: none;
    color: purple;
    padding: 5px;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.close-button:hover {
    background-color: rgb(88, 3, 88);
    color: white;
}

.register {
    cursor: pointer;
    color: purple;
    text-decoration: underline;
}

.error {
    color: red;
    font-size: medium;
}

.toggle-button {
    background: none;
    border: none;
    color: purple;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
    text-decoration: underline;
}

.toggle-button:hover {
    color: white;
}

.modal-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.modal-form input {
    width: 300px;
}